{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
      "cwd": "babelrc",
      "root": ["./src"],
      "alias": {
        "@catalog": "./src/catalog",
        "@core": "./src/core",
        "@dealer": "./src/dealer",
        "@eko": "./src/eko",
        "@indicators": "./src/indicators",
        "@info": "./src/info",
        "@intro": "./src/intro",
        "@menu": "./src/menu",
        "@navigation": "./src/navigation",
        "@profile": "./src/profile",
        "@services": "./src/services",
        "@tva": "./src/tva",
        "@utils": "./src/utils"
      }
    }]
  ]
}
