<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53201529704-pofi5bbpvo7dtnuu521lo00f3bl6qiq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53201529704-pofi5bbpvo7dtnuu521lo00f3bl6qiq2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>53201529704-3vqvfs10fkb4ec26p3cip3s6fi1vtbp1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDUdsOXMpWV-GiP56gaCcc8wommh5DFwkI</string>
	<key>GCM_SENDER_ID</key>
	<string>53201529704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atlantm.app</string>
	<key>PROJECT_ID</key>
	<string>atlant-m</string>
	<key>STORAGE_BUCKET</key>
	<string>atlant-m.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53201529704:ios:ab5cd4d1f0dc7c752704dd</string>
	<key>DATABASE_URL</key>
	<string>https://atlant-m.firebaseio.com</string>
</dict>
</plist>