<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>XXXX-XXXX.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.XXXX-XXXX</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>XXXX-XXXX.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADc1GeEB5qxSYICaljFR6r8kryeiMbfGI</string>
	<key>GCM_SENDER_ID</key>
	<string>XXXX</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atlant-m</string>
	<key>PROJECT_ID</key>
	<string>atlant-m</string>
	<key>STORAGE_BUCKET</key>
	<string>XXXX.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:XXXX:ios:528b18f445a9c3fb</string>
	<key>DATABASE_URL</key>
	<string>https://XXXX.firebaseio.com</string>
</dict>
</plist>